* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(36, 31, 31);
  color: azure;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;

  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.nav-routes {

  padding: 8px;
  color: azure;

  font-size: 18px;

  background-color:rgb(133, 36, 3)
}

.nav-routes ul {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-routes ul li{
  display: block;

  padding: 6px;
}

.fade {
  max-width: 500px;
  animation: fadeForLeft 500ms ease-in-out forwards;

  padding: 20px;
  background-color: rgb(240, 93, 56);
  color: aliceblue;

  border-radius: 8px;

  margin: 8px;
}

@keyframes fadeForLeft {
  0%{
    opacity: 0;
    transform: translateX(+100px)
  }
  100%{
    opacity: 1;
    transform: translateX(0)
  }
}
